

<h1 class="text-center text-muted">Hello bootstrap</h1>
<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Inicio</a></li>
    <li role="presentation"><a href="#opinion" aria-controls="opinion" role="tab" data-toggle="tab">Opinión</a></li>
    <li role="presentation"><a href="#sociales" aria-controls="sociales" role="tab" data-toggle="tab">Sociales</a></li>
    <li role="presentation"><a href="#emprendimiento" aria-controls="emprendimiento" role="tab" data-toggle="tab">Emprendimiento</a></li>
    <li role="presentation"><a href="#salud" aria-controls="salud" role="tab" data-toggle="tab">Salud</a></li>
    <li role="presentation"><a href="#deportes" aria-controls="deportes" role="tab" data-toggle="tab">Deportes</a></li>
	<li role="presentation"><a href="#tablazos" aria-controls="tablazos" role="tab" data-toggle="tab">Tablazos</a></li>
  <li role="presentation"><a href="#croncias" aria-controls="cornicas" role="tab" data-toggle="tab">Cronicas</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home"></div>
    <div role="tabpanel" class="tab-pane fade" id="opinion">
      
    </div>
    <div role="tabpanel" class="tab-pane fade" id="sociales"></div>
    <div role="tabpanel" class="tab-pane fade" id="emprendimiento"></div>
    <div role="tabpanel" class="tab-pane fade" id="salud"></div>
    <div role="tabpanel" class="tab-pane fade" id="deportes"></div>
    <div role="tabpanel" class="tab-pane fade" id="tablazos"></div>
    <div role="tabpanel" class="tab-pane fade" id="Cronicas"></div>
  </div>

</div>
<br>
<br>
<br>











<script>
	$('#myTabs a[href="#profile"]').tab('show') // Select tab by name
$('#myTabs a:first').tab('show') // Select first tab
$('#myTabs a:last').tab('show') // Select last tab
$('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)


</script>