<!-- Page Content -->
   <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1>Blog post title</h1>
            <p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="#">Matthijs Jansen</a> on <span class="glyphicon glyphicon-time"></span> 12 January 2015 10:00 am</p>
          </div>
        </div>
      </div>


      <!-- /.row -->

      <div class="row">
        <div class="col-sm-8">

             <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Blog Home Two</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Blog Post Row -->
        <div class="row">
            
            <div class="col-md-7">
                <a href="blog-post.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/600x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>
                    <a href="blog-post.html">Blog Post Title</a>
                </h3>
                <p>by <a href="#">Start Bootstrap</a>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

  

        <hr>

    </div>

        </div>
        <div class="col-sm-4">
          <!-- Search -->
          <div class="well">
            <h4 class="margin-t-0">Search</h4>
            <form action="#">
              <div class="input-group">
                <label class="sr-only" for="search-form">Search the site</label>
                <input type="text" class="form-control" id="search-form">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="sr-only">Search</span>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <!-- list group -->
          <div class="list-group margin-b-3">
              <a href="#" class="active list-group-item">Category 1</a>
              <a href="#" class="list-group-item">Category 2</a>
              <a href="#" class="list-group-item">Category 3</a>
          </div>

                  <!-- Panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Sidebar panel widget</h4>
            </div>
            <div class="panel-body">
              <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <!-- Panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Sidebar panel widget</h4>
            </div>
            <div class="panel-body">
              <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

        </div>
      </div>
      <!-- /.row -->

      
      
    </div>
  </div>